* {
    margin: 0;
    text-decoration: none;
    color: black;
}

header {
    padding: 4rem;
    background: lightgray;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.8rem;
}

ul li:last-child a {
    color: white;
    background: black;
    padding: 0.8rem;
}

button {
    display: flex;
    align-items: center;

    line-height: 0;

    gap: 0.4rem;

    padding: 0.3rem 0.6rem 0.3rem 0.3rem;
}

button img {
    width: 2rem;
    height: 2rem;
}

.container {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

aside, main {
    border: 1px solid;
    height: 20rem;
}

aside {
    flex-basis: 25%;
}

main {
    flex: 1;
}

aside p, main p {
    text-align: center;
    margin-top: 2rem;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    justify-content: center;
    margin: 2rem 0;
}

#gallery img {
    width: 30%;
    height: 20rem;
}

footer {
    padding: 4rem;
    background: lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
}