<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá meu nome é Saimon e estou aprendendo mais sobre Node e EJS.</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>